.navbar-brand{
    height:150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-brand img{
    width: 150px;
    height: 150px;
    left: 100px;
}
.nav-item{
    list-style: none;

 
}
.back{
    height:600px;
    object-fit: cover;
}

.title{
    margin-bottom: 210px;
    }
.banner-text{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: auto;
    width: 100px;
    border-radius: 10px;
}

.card{
    margin-bottom: 50px;
}

.para{
    margin-top:60px;
}

.cls{
    height:150px;
    object-fit: cover;

}

.loo img{
    height: 300px;
    width: 500px;

}
.loo-laa img{
    height: 300px;
    width: 300px;
    justify-content:space-around;
    object-fit: cover;
}
.colour{
    color: white;
}
.full-colour{
    background-color: rgb(137,206,137);
    object-fit: fill;
    
}
.dot{
    list-style: none;
}
#now{
    background-color:rgb(137,206,137);
}
#more{
 background-color: rgb(137,206,137);
}
#phn{
    background-color: rgb(137,206,137);
}
#orr{
    background-color: rgb(137,206,137);
}
.fonts{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}
    
#black:hover{
    background-color:rgb(137,206,137);
    color: white;
}
.white:hover{
    background-color: rgb(137,206,137);
}
.down{
    margin-top:5px;
}
