.navbar-brand{
    height:60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-brand img{
    width: 50px;
    height: 150px;
    left: 100px;
}
.nav-item{
    list-style: none;

 
}
.logoimg{
    width: 50px;
    height: 50px;
}
.back{
    height:600px;
    object-fit: cover;
filter: brightness(40%);
}

.title{
    margin-bottom:200px;
    }
.banner-text{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: auto;
    width: 100px;
    border-radius: 10px;
}

.card{
    margin-bottom: 50px;
}
.card:hover{
    transform: translateY(-8px);
}


.cls{
    height:150px;
    object-fit: cover;

}


.loo img{
    height: 300px;
    width: 500px;

}
.loo-laa img{
    height: 300px;
    width: 300px;
    justify-content:space-around;
    object-fit: cover;
}
.loo-laa:hover{
    transform: translateY(-8px);
}
.colour{
    color: white;
}
.full-colour{
    background-color: rgb(137,206,137);
    object-fit: fill;
    
}
.dot{
    list-style: none;
}
#now{
    background-color:rgb(137,206,137);
}
#more{
 background-color: rgb(137,206,137);
}
#phn{
    background-color: rgb(137,206,137);
}
#orr{
    background-color: rgb(137,206,137);
}
.fonts{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;}
    
#black:hover{
    background-color:rgb(137,206,137);
    color: white;
}
.white:hover{
    background-color: rgb(137,206,137);
}
.down{
    margin-top:5px;
}
#phn:hover{
    background-color:orangered;
    color: black;
}
#orr:hover{
     background-color:orangered;
    color: black;
}
#more:hover{
     background-color:orangered;
    color: black;
}
#now:hover{
     background-color:orangered;
    color: black;
}


